* {
  padding: 0;
  margin: 0;
  font-family: TheSans;
}

@font-face {
  font-family: TheSans;
  src: url(Plain.ttf);
}

.body {
  background-color: #002A49;
}

.template {
  padding-top: 2.5vw;
  display: flex;
  justify-content: center;
}

canvas {
  border-radius: 20px;
  width: 30vw;
  box-shadow: rgba(255, 255, 255, 0.5) 0px 15px 30px;
}

input {
  box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
  border: none;
  border-radius: 0.5vw;
  width: 16vw;
  height:2.6vw;
  padding: 0px 1vw;
  text-align: right;
  background: #fff;
  border: 2px solid #002A49;
  color: #002A49;
  font-size: 1.3vw;
}

.name {
  display: flex;
  justify-content: center;
  margin: 2vw 0vw;
}

.download {
  text-align: center;
}

#download-btn {
  background-color: #fff;
  text-decoration: none;
  padding: 0.2vw 2vw;
  font-size: 1.3vw;
  border-radius: 0.5vw;
  color: #002A49;
  box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
}

footer {
  padding: 4vw 0vw 2vw;
  text-align: center;
}

footer h1 {
  color: rgb(255, 255, 255);
  font-size: 1.5vw;
}

.icons {
  padding: 1vw ;
}

i {
  font-size: 2vw;
  padding: 0.5vw;
  margin-right:0.7vw ;
  margin-left:0.7vw ;
  color: #002A49;
  width:2vw;
  height: 2vw;
  background-color: #fff;
  border-radius: 50vw;
  transition: 0.5s ease-in-out;
}

i:hover {
  color: #fff;
  background-color: #002A49;
}